*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif, Arial;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232830;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
header{
    overflow: hidden;
    padding: 20px 10px;
    position: sticky;
}
#head a{
    text-decoration: none;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
#head a.logo{
    font-size: 25px;
    font-weight: bold;
}
#head a:hover {
    color: black;
}
.heading-right{
    float: right;
}
@media screen and (max-width: 500px) {
    #head a {
        float: none;
        display: block;
        text-align: left;
    }
    .heading-right {
        float: none;
    }
}
#main{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#main img{
    margin-top: 80px;
    width: 230px;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-left: 70px;
}
.pink{
    color: #FF7575;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 3px;
}
p {
    font-size: 20px;
}
.category-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); /* subtle white line with opacity */
    margin: 40px 0 20px 0; /* adjust spacing as needed */
    border: none;
}
.skills h3{
    color: #909090;
    text-align: center;
    padding: 0;
}
.icons{
    float: left;
}
.icons img{
    margin-right: 10px;
    margin-left: 30px;
}
span{
    margin-right: 50px;
}
#cardsection{
    padding-top:60px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    float: left;
}

.card{
    background-color: white;
    height: auto;
    width: 300px;
    border-radius: 10px;
    padding: 13px;
}
.card img{
    width: 95%;
    height: auto;
    align-content: center;
    display: block;
}
.cardhead{
    margin-top: 18px;
}
.cardtxt{
    font-size: 15px;
    margin-top: 15px;
}
